!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      = INSTA_TAG
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "http://instsaw-faye.herokuapp.com/faye.js"
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tags

  %body
    %h1
      ="##{INSTA_TAG}"
    = yield

